<dialog #dialog>
  <h2>{{ 'navbar.profileTitle' | translate }}</h2>

  <div *ngIf="isLoading">{{ 'navbar.loading' | translate }}</div>
  <div *ngIf="errorMsg" class="text-danger">{{ errorMsg | translate }}</div>

  <ng-container *ngIf="!isLoading && !errorMsg">
    <div class="row" *ngFor="let field of formFields">
      <div class="col-5">{{ field.labelKey | translate }} :</div>
      <div class="col-7">
        <input
          *ngIf="field.type!=='select'"
          [type]="field.type"
          class="input5"
          [placeholder]="field.labelKey | translate"
          [(ngModel)]="form[field.key]"
          name="{{ field.key }}"
        />
        <select
          *ngIf="field.type==='select'"
          class="input5"
          [(ngModel)]="form[field.key]"
          name="{{ field.key }}"
        >
          <option value="" disabled selected>{{ field.labelKey | translate }}</option>
          <option *ngFor="let opt of field.options" [value]="opt.value">{{ opt.labelKey | translate }}</option>
        </select>
      </div>
    </div>

    <div class="row">
      <button class="boton-elegante" (click)="saveProfile()">
        {{ 'navbar.save' | translate }}
      </button>
    </div>
  </ng-container>

  <button class="x" aria-label="close" (click)="closeDialog()">×</button>
</dialog>
