<footer class="footer">
  <div class="container footer-top">
    <div class="row w-100 align-items-center">
      <div class="col-12 col-md-6 footer-brand">
        <img src="assets/images/logo.png" alt="Sahera" />
      </div>
      <div class="col-12 col-md-6 footer-social text-center text-md-end">
        <h5 class="footer-title ">{{ 'footer.social' | translate }}</h5>
        <ul class="list-unstyled mb-0">
          <li>
            <a
              href="https://www.instagram.com/heracaresolutions?igsh=MjRvbjdnYWwzNmdn"
              target="_blank"
              rel="noopener"
            >
              <i class="fab fa-instagram"></i> Instagram
            </a>
          </li>
          <li>
            <a
              href="https://www.facebook.com/profile.php?id=61552318224523&mibextid=LQQJ4d"
              target="_blank"
              rel="noopener"
            >
              <i class="fab fa-facebook"></i> Facebook
            </a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/company/h-ra-care-solutions/"
              target="_blank"
              rel="noopener"
            >
              <i class="fab fa-linkedin"></i> Linkedin
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <hr />
    <p>{{ 'footer.copyright' | translate }}</p>
  </div>
</footer>
