.glass-container {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.1px);
  -webkit-backdrop-filter: blur(12.1px);
  min-height: 80vh;
  border: 1px solid rgba(0, 0, 0, 0.26);
}