
<div class="container my-4">
  <div class="glass-container p-2">
    <div class="d-flex justify-content-between align-items-center mb-3">
  <h1>Historique des Messages</h1>
  <button class="btn btn-primary" (click)="openCreateDialog()">
    Envoyer message
  </button>
</div>

<dialog #dialog>
  <h2>Envoyer une Notification</h2>
  <div class="mb-3">
    <label>Objet :</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="newNotif.titre"
      placeholder="Titre"
    />
  </div>
  <div class="mb-3">
    <label>Message :</label>
    <textarea
      class="form-control"
      rows="5"
      [(ngModel)]="newNotif.contenu"
      placeholder="Votre message"
    ></textarea>
  </div>
  <button class="btn btn-success" (click)="sendNotification()">Envoyer</button>
  <button class="btn btn-secondary ms-2" (click)="closeDialog()">Annuler</button>
</dialog>

<hr />

<app-notification
  *ngFor="let notif of notifications; let i = index"
  [notification]="notif"
  [index]="i"
  [isAdminView]="true"
  (deleteNotification)="onDeleteNotification($event)"

></app-notification>