:host {
  display: block;
  width: 100%;
}

canvas {
  display: block;
  width: 100% !important;
  max-width: 100%;
  height: 260px !important;
  margin: 0 auto;
}

@media (max-width: 768px) {
  canvas {
    height: 230px !important;
  }
}
