<!-- src/app/pages/q-and-a/q-and-a.component.html -->

<div class="container my-4">
  <div class="glass-container">
    <div class="title p-4">
      <h1>Thème : {{ thematiqueTitre }}</h1>
    </div>

<div class="tabs p-1">
  <ng-container *ngFor="let st of sousThematiques; let i = index">
    <input
      type="radio"
      name="tabs"
      [id]="'tab' + i"
      [checked]="i === 0"
    />
    <label [for]="'tab' + i">{{ st.titre }}</label>
    <div class="tab">
      <div class="title">
        <h2>Questions pour « {{ st.titre }} »</h2>
      </div>

      <div *ngIf="questionsMap[st.id] === undefined">
        Chargement des questions...
      </div>

      <ul *ngIf="getQuestions(st).length > 0">
        <li *ngFor="let q of getQuestions(st)">
          {{ q.question }}<br>
          <input
            class="input"
            type="text"
            [(ngModel)]="reponses[st.id][q.id]"
            name="resp-{{st.id}}-{{q.id}}"
            placeholder="Votre réponse"
          />
        </li>
      </ul>

 <div *ngIf="questionsMap[st.id] !== undefined && getQuestions(st).length === 0">
   Aucune question…
y </div>

      <!-- BOUTON ENREGISTRER -->
      <div class="actions text-end  mt-2">
        <button (click)="saveReponses(st)" class="btn btn-primary" >
          Enregistrer les réponses
        </button>
      </div>
    </div>
  </ng-container>
</div>
  </div>
</div>
